@page
@{
    ViewData["Title"] = "Links";
}

<h1>Links</h1>

Here you will find relevant links

<ul class="list-group">
    <li class="list-group-item">
        Links to the individual Restaurants are on their own details page
    </li>
    <li class="list-group-item list-group-item-secondary">
        Area Orginizations
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Social</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle"><a href="https://www.downtowntoledo.org/" target="_blank">Downtown</a></td>
                    <td class="align-middle"><a href="mailto:info@connectoledo.org" target="_blank"><i class="fas fa-at fa-3x"></i></a></td>
                    <td><a href="https://www.facebook.com/DowntownToledo/" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a> <a href="https://twitter.com/DowntownToledo" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a> <a href="https://www.pinterest.com/downtowntoledo/" target="_blank"><i class="fab fa-pinterest-square fa-3x"></i></a> <a href="https://www.instagram.com/downtowntoledo/" target="_blank"><i class="fab fa-instagram-square fa-3x"></i></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </li>
    <li class="list-group-item">
        People:
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Social</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle"><a href="https://snussel.azurewebsites.net/" target="_blank">Me</a></td>
                    <td class="align-middle"><a href="mailto:snussel@gmail.com" target="_blank"><i class="fas fa-at fa-3x"></i></a></td>
                    <td><a href="https://www.facebook.com/snussel/" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a> <a href="https://twitter.com/snussel" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a> <a href="https://www.linkedin.com/in/steven-nussel/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a> </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </li>
    <li class="list-group-item list-group-item-secondary">
        Technology Stack
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Social</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle"><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></td>
                    <td class="align-middle"></td>
                    <td><a href="https://twitter.com/getbootstrap" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a></td>
                </tr>
                <tr>
                    <td class="align-middle"><a href="https://fontawesome.com/" target="_blank">Font Awesome</a></td>
                    <td class="align-middle"><a href="mailto:hello@fontawesome.com" target="_blank"><i class="fas fa-at fa-3x"></i></a></td>
                    <td><a href="https://twitter.com/fontawesome" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a></td>
                </tr>
                <tr>
                    <td class="align-middle"><a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank">Microsoft ASP.NET</a></td>
                    <td class="align-middle"></td>
                    <td><a href="https://www.facebook.com/ASP.NET/" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a> <a href="https://twitter.com/aspnet" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a></td>
                </tr>
                <tr>
                    <td class="align-middle"><a href="https://azure.microsoft.com/en-us/" target="_blank">Microsoft Azure</a></td>
                    <td class="align-middle"></td>
                    <td><a href="https://www.facebook.com/microsoftazure" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a> <a href="https://twitter.com/azure" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a></td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>

<img src="~/images/Toledo.jpg" class="img-thumbnail" />